@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@keyframes navigation {
  to {
    transform: translatex(0px);
  }

  from {
    transform: translatex(-150px);
    background: #cf2025;
  }
}

nav {
  font-family: 'Poppins', sans-serif;
}

.nav_anim {
  animation: navigation .5s ease-in;
}


.logo {
  text-shadow: 3px 2px 9px rgba(255, 255, 255, 0.696);
}


nav .search_bar::placeholder {
  color: black;
  padding: 20px;
}

.hero {
  background: linear-gradient(to right, #d68487, #f5a2a4, #fab7b8, #fce6e6);
}

nav .mobile-nav li {
  border-bottom: 1px solid rgb(173, 173, 173);
}

.book_ad {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(161, 151, 53, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media (max-width: 768px) {
  .hero {
    background: #cf2025;
  }
}


/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .book_ad {
    background: none;
    border: none;
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .bg-book {
    background: rgba(255, 255, 255, 0.377);
    box-shadow: 0 8px 32px 0 rgba(161, 151, 53, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

@media (max-width: 768px) {
  .book_title {
    text-shadow: 1px 4px 6px rgba(0, 0, 0, 0.6);
  }
}



@keyframes pointer_anim {
  to {
    transform: translateY(0px) rotate(0deg);
    border-radius: 0px;
    opacity: 100%;
  }

  from {
    transform: translateY(1200px) rotate(90deg);
    border-radius: 500px;
    opacity: 100%;
  }
}

.pointer_view {
  animation: pointer_anim 1s ease-out;
}

.separator {
  border: solid 1px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(253, 253, 253), #f38084, #f14343, #cf2025) 27/35px;
  margin-bottom: 1rem;
}

.bg_svg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(241%2c 126%2c 129%2c 1)'%3e%3c/rect%3e%3cpath d='M1260 108.89C1241.6 108.89 1224.56 121.89 1224.56 140C1224.56 165.45 1241.1 196 1260 196C1280.03 196 1302.42 164.91 1302.42 140C1302.42 121.35 1280.53 108.89 1260 108.89' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 208C947.52 215.57 941.23 247.56 941.23 280C941.23 300.36 956.92 303.33 980 313.6C1046.3 343.1 1059.8 369.48 1120 359.55C1161.62 352.68 1183.64 314.7 1183.64 280C1183.64 254.09 1155.32 250.82 1120 238.33C1053.5 214.82 1036.9 194.74 980 208' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 255C1383.95 255 1365 263.15 1365 280C1365 310.65 1385.32 350 1400 350C1413.76 350 1421.88 312.69 1421.88 280C1421.88 265.19 1412.39 255 1400 255' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 361.67C543.91 361.67 548.52 392.15 548.52 420C548.52 428.93 551.44 435.22 560 435.22C592.18 435.22 630 436.19 630 420C630 399.41 584.65 361.67 560 361.67' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 371.39C787.3 371.39 723.33 398.2 723.33 420C723.33 441.12 785.52 457.23 840 457.23C865.2 457.23 882.68 440.04 882.68 420C882.68 397.12 866.97 371.39 840 371.39' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M192.24 0C209.24 50.99 176.44 71.89 186.67 140C197.47 211.89 203.45 213.73 234.29 280C250.11 314 253.7 340.54 280 340.54C312.68 340.54 315.59 309.61 352.26 280C385.59 253.09 386.53 227.5 420 227.5C452.22 227.5 470.46 244.34 483.64 280C506.04 340.59 470.12 356.3 491.15 420C508.3 471.95 523.5 467.44 560 511.3C581.75 537.44 607.66 545.67 607.66 560C607.66 570.02 583.83 560 560 560C490 560 490 560 420 560C350 560 350 560 280 560C270 560 269.75 562.05 260 560C199.75 547.32 186.26 564.47 140 530.53C90.86 494.47 105.81 474.45 69.21 420C35.81 370.3 25.59 373.98 0 322.22C-9.02 303.98 0 301.11 0 280C0 210 0 210 0 140C0 70 -35 35 0 0C35 -35 70 0 140 0C166.12 0 185.9 -19.01 192.24 0' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M554.62 140C554.62 136.6 556.68 136.03 560 133.33C629.37 76.8 625.66 31.63 700 21.54C765.66 12.63 769.58 59.25 840 95.32C885.23 118.48 921.6 102.21 931.3 140C945.29 194.55 919.19 216.32 887.38 280C873.54 307.71 869.29 314.57 840 322.78C775.6 340.82 763.35 346.33 700 332.5C665.35 324.94 666.99 310.4 644 280C596.99 217.83 602.24 213.52 560 147.37C557.55 143.52 554.62 143.62 554.62 140' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1006.67 140C989.72 86.88 1017.38 49.24 1057.24 0C1074.05 -20.76 1088.62 0 1120 0C1190 0 1190 0 1260 0C1330 0 1330 0 1400 0C1441.18 0 1468.4 -25.91 1482.35 0C1506.09 44.09 1500.25 81.85 1475.38 140C1459.08 178.1 1434.27 192.5 1400 192.5C1374.31 192.5 1381.19 162.53 1355.45 140C1311.19 101.28 1306.19 70 1260 70C1218.59 70 1219.59 104.41 1180.25 140C1149.59 167.74 1154.28 196.67 1120 196.67C1067.49 196.67 1021.1 185.22 1006.67 140' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1247.27 280C1252.91 272.41 1253.08 266 1260 266C1268.2 266 1271.9 270.42 1277.5 280C1316.9 347.42 1309.53 352.72 1350 420C1370.78 454.54 1374.42 483.64 1400 483.64C1426.35 483.64 1439.68 457.69 1453.85 420C1477.96 355.87 1452.02 344.47 1476.56 280C1495.1 231.28 1522.44 193.62 1540 193.62C1554.16 193.62 1540 236.81 1540 280C1540 350 1540 350 1540 420C1540 460 1556.26 467.48 1540 500C1521.26 537.48 1509.79 542.95 1470 560C1439.79 572.95 1435 560 1400 560C1330 560 1330 560 1260 560C1217.47 560 1196.3 586.1 1174.94 560C1139.02 516.1 1129.09 483.35 1145.45 420C1165.25 343.35 1195.64 349.41 1247.27 280' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M925.37 420C954.54 392.04 947.23 360.27 980 360.27C1033.49 360.27 1097.89 381.12 1097.89 420C1097.89 468.42 1037.5 476.16 980 534.87C968.95 546.16 975.31 557.39 960.78 560C905.31 569.96 900.39 560 840 560C798.93 560 757.87 574.38 757.87 560C757.87 541.61 799.7 528.15 840 494.47C883.45 458.15 884.54 459.14 925.37 420' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 70C4.75 70 18.67 106.08 18.67 140C18.67 158.58 4.96 175 0 175C-4.38 175 0 157.5 0 140C0 105 -4.59 70 0 70' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M665 140C665 122.97 680.66 111.28 700 111.28C729.27 111.28 762.22 121.32 762.22 140C762.22 162.34 727.33 193.33 700 193.33C678.72 193.33 665 163.99 665 140' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1090 140C1090 115 1108.07 80 1120 80C1131.04 80 1135.95 112.28 1135.95 140C1135.95 149.78 1129.07 155 1120 155C1106.1 155 1090 152.5 1090 140' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1260 31.11C1215.7 31.11 1172.5 8.01 1172.5 0C1172.5 -7.55 1216.25 0 1260 0C1316 0 1372 -7.63 1372 0C1372 7.92 1315.45 31.11 1260 31.11' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M60 280C66.19 241.96 107.93 226.67 140 226.67C159.36 226.67 147.92 255.24 162.86 280C206.25 351.91 263.2 366 256.67 420C251.77 460.56 190.7 469.12 140 469.12C116.64 469.12 119.84 446.71 108.54 420C79.84 352.15 50.46 338.63 60 280' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1531.25 280C1531.25 272.8 1537.58 268.09 1540 268.09C1541.95 268.09 1540 274.04 1540 280C1540 336 1542.18 392 1540 392C1537.81 392 1531.25 334.75 1531.25 280' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M336 420C336 395.75 388.42 367.5 420 367.5C437.3 367.5 433.77 393.96 433.77 420C433.77 441.21 435.64 462 420 462C386.76 462 336 443 336 420' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M968.05 420C968.05 412.57 972.83 406.93 980 406.93C991.7 406.93 1005.79 411.49 1005.79 420C1005.79 430.59 990.64 445.13 980 445.13C971.77 445.13 968.05 431.67 968.05 420' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1251.52 420C1253.48 412.65 1256.09 407.27 1260 407.27C1263.67 407.27 1262.54 414.12 1266.67 420C1316.21 490.49 1369.39 516.86 1367.33 560C1366.05 586.86 1313.66 560 1260 560C1239.62 560 1220.18 575.47 1219.24 560C1215.94 505.47 1233.1 489.02 1251.52 420' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M804.53 560C804.53 552.06 821.01 531.7 840 531.7C864.83 531.7 892.16 552.47 892.16 560C892.16 566.62 866.08 560 840 560C822.26 560 804.53 566.21 804.53 560' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}